<h1>Bienvenue à votre Espace Elève :</h1>

<ul>
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('register_restaurant') }}">
            <i class="material-icons"> </i>
            <p>Gestion du restaurant : </p>

        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('register_transport') }}">
            <i class="material-icons"> </i>
            <p>Gestion du transport : </p>

        </a>
    </li>
</ul>