
<h1>Bienvenue à votre Espace Elève :</h1>

<td><a href= "{{ url('VieEleve')}}"> Paiemen En ligne!</a> <br></td> <br>
<td><a href= "{{ url('VieEleve')}}"> Inscri service Transport !</a> <br></td><br>
<td><a href=  "{{ url('VieEleve')}}">  Inscri service Restaurant !</a> <br></td><br>