{% extends "::base.html.twig" %}

{% block title %}VieEleveBundle:gestionPaiement:preparePaiement{% endblock %}

{% block body %}
<h1>Welcome to the gestionPaiement:preparePaiement page</h1>
{% endblock %}
